<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodaj studenta</title>
</head>
<body>
<form method="POST" th:action="@{/students-page}" th:object="${student}">
    <label>Name
    <input th:field="*{name}"/>
    </label>
    <label>Unit
        <select th:field="*{unit}">
            <option th:each="unit : ${T(com.example.mprprojectmvn.data.StudentUnit).values()}"
                    th:value="${unit}" th:text="${unit}">

            </option>
        </select>
    </label>
    <button type="submit">Dodaj</button>
</form>
</body>
<footer th:insert="footer.html">
</footer>
</html>