<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edytuj studenta</title>
</head>
<body>
<form method="POST" th:object="${updateStudent}" th:action="@{/students-page/update(id=${updateStudent.id})}">
    <label>Name
        <input th:field="*{name}" name="name"/>
    </label>
    <label>Surname
        <input th:field="*{surname}" name="surname"/>
    </label>
    <label>CourseName
        <select th:field="*{courseName}" name="courseName">
            <option th:each="course : ${courses}"
                    th:value="${course.courseName}" th:text="${course.courseName}">
            </option>
        </select>
    </label>
    <label>Unit
        <select th:field="*{unit}" name="unit">
            <option th:each="unit : ${T(com.example.mprprojectmvn.student.data.StudentUnit).values()}"
                    th:value="${unit}" th:text="${unit}">
            </option>
        </select>
    </label>
    <button type="submit" value="updateStudent">Aktualizuj</button>
</form>
</body>
<footer th:insert="footer.html">
</footer>
</html>